In [4]:
import pandas as pd

df = pd.read_csv("./bmw.csv")

**Ejercicio 1:**
Muestre los primeros 10 registros de la base de datos.

In [19]:
print(df.head(10))

       model  year  price transmission  mileage fuelType  tax   mpg  \
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
5   5 Series  2016  14900    Automatic    35309   Diesel  125  60.1
6   5 Series  2017  16000    Automatic    38538   Diesel  125  60.1
7   2 Series  2018  16250       Manual    10401   Petrol  145  52.3
8   4 Series  2017  14250       Manual    42668   Diesel   30  62.8
9   5 Series  2016  14250    Automatic    36099   Diesel   20  68.9

   engineSize
0         2.0
1         2.0
2         3.0
3         1.5
4         3.0
5         2.0
6         2.0
7         1.5
8         2.0
9         2.0

**Ejercicio 2:**
Obtenga la serie correspondiente al atributo year, y a continuación obtenga el tipo de datos y el número de registros de dicha serie.

In [27]:
serie_year = df['year']

tipo_datos = serie_year.dtype

num_registros = serie_year.count()

print("Tipo de datos:", tipo_datos)
print("Número de registros:", num_registros)

Tipo de datos: int64
Número de registros: 10781

**Ejercicio 3:**
Obtenga la serie correspondiente al atributo mileage, y después seleccione los registros de posición múltiplo de 7 en dicha serie.

In [32]:
serie_mileage = df['mileage']

registros_multiplo_7 = serie_mileage[::7]

print(registros_multiplo_7)

0        67068
7        10401
14       19057
21       78957
28       96213
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1541, dtype: int64

**Ejercicio 4:**
Obtenga la serie correspondiente al atributo mileage, y después seleccione aleatoriamente el 40% de los registros de dicha serie.

In [35]:
serie_mileage = df['mileage']

porcentaje = 0.4
registros_aleatorios = serie_mileage.sample(frac=porcentaje)

print(registros_aleatorios)

9015    43425
4342    25632
772     11711
8464    32794
1632    25898
        ...
1333      123
8208    41115
7703    26000
7757    45000
963     25970
Name: mileage, Length: 4312, dtype: int64

**Ejercicio 5:**
Obtenga la serie correspondiente al atributo mileage, y después seleccione los registros de dicha serie con valor menor que 20000.

In [38]:
serie_mileage = df['mileage']

registros_menor_20000 = serie_mileage[serie_mileage < 20000]

print(registros_menor_20000)

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

**Ejercicio 6:**
Obtenga la serie correspondiente al atributo mpg, y después ordene los registros de dicha serie.

In [42]:
serie_mpg = df['mpg']

serie_mpg_ordenada = serie_mpg.sort_values()

print(serie_mpg_ordenada)

6965      5.5
6172      5.5
6132      5.5
6198      5.5
2116      5.5
        ...
7299    470.8
3628    470.8
6070    470.8
2352    470.8
7347    470.8
Name: mpg, Length: 10781, dtype: float64

**Ejercicio 7:**
Calcule la media, la desviación típica, el mínimo y el máximo del atributo engineSize.

In [45]:
media_engineSize = df['engineSize'].mean()

desviacion_estandar_engineSize = df['engineSize'].std()

minimo_engineSize = df['engineSize'].min()

maximo_engineSize = df['engineSize'].max()

print("Media:", media_engineSize)
print("Desviación típica:", desviacion_estandar_engineSize)
print("Mínimo:", minimo_engineSize)
print("Máximo:", maximo_engineSize)

Media: 2.1677673685186902
Desviación típica: 0.5520537772398375
Mínimo: 0.0
Máximo: 6.6

**Ejercicio 8:**
Obtenga el número de filas y columnas de la base de datos, así como el antepenúltimo registro.

In [52]:
num_filas, num_columnas = df.shape

antepenultimo_registro = df.iloc[-3]

print("Número de filas:", num_filas)
print("Número de columnas:", num_columnas)
print("Antepenúltimo registro:")
print(antepenultimo_registro)

Número de filas: 10781
Número de columnas: 9
Antepenúltimo registro:
model            3 Series
year                 2017
price               13100
transmission       Manual
mileage             25468
fuelType           Petrol
tax                   200
mpg                  42.8
engineSize            2.0
Name: 10778, dtype: object

**Ejercicio 9:**
Obtenga los atributos mileage, price y mpg en un nuevo DataFrame, y después seleccione aleatoriamente el 20% de los registros.

In [65]:
nuevo_df = df[['mileage', 'price', 'mpg']]

porcentaje = 0.2
registros_aleatorios = nuevo_df.sample(frac=porcentaje)

print(registros_aleatorios)

       mileage  price    mpg
9275     35000   8290   51.4
7384     71098  16975   38.2
5784      4495  25730   38.2
8795     37012  11000   62.8
8516     15659  16899  148.7
...        ...    ...    ...
5752      4315  26000   42.2
8065     21752  12148   52.3
8613     39708  16000   65.7
3931     34249  13990   53.3
10356    18295  17100   48.7

[2156 rows x 3 columns]

**Ejercicio 10:**
Obtenga los registros que tengan un valor de mileage inferior a 10000 y un valor de mpg mayor que 40.

In [108]:
registros_filtrados = df[(df['mileage'] < 10000) & (df['mpg'] > 40)]

print(registros_filtrados)

         model  year  price transmission  mileage fuelType  tax   mpg  \
131    Serie 1  2017  14600    Automatic     5615   Petrol  145  58.9
148    Serie 1  2016  13700       Manual     8719   Petrol  125  52.3
153    Serie 1  2016  13750    Automatic     8707   Petrol   30  55.5
166        NaN  2020  31498    Semi-Auto     1560   Diesel  145  60.1
167    Serie 2  2020  27998       Manual     1580   Petrol  150  43.5
...        ...   ...    ...          ...      ...      ...  ...   ...
10713  Serie 3  2020  23899    Automatic     1255   Petrol  150  47.9
10739  Serie 3  2019  23987    Automatic     1049   Petrol  150  47.9
10740  Serie 3  2019  23454    Automatic     3551   Petrol  150  47.9
10741  Serie 3  2019  23599    Automatic     2784   Petrol  145  47.9
10742  Serie 3  2019  23499    Automatic     5634   Petrol  145  47.9

       engineSize
131           1.5
148           1.5
153           1.5
166           2.0
167           1.5
...           ...
10713         2.0
10739         2.0
10740         2.0
10741         2.0
10742         2.0

[3079 rows x 9 columns]

**Ejercicio 11:**
Modifique los valores del atributo model, de tal manera que los valores " x Series" pasen a ser "Serie x", siendo x un número entre 1 y 9.

In [7]:
df['model'] = df['model'].replace(to_replace=r'(\d) Series', value=r'Serie \1', regex=True)

print(df['model'])

0         Serie 5
1         Serie 6
2         Serie 5
3         Serie 1
4         Serie 7
           ...
10776          X3
10777     Serie 5
10778     Serie 3
10779     Serie 1
10780          X1
Name: model, Length: 10781, dtype: object

**Ejercicio 12:**
Inserte un nuevo registro con los siguientes datos: model=" 3 Series", year=2023, price = 22572, transmission = "Automatic", mileage = 74120, fuelType = "Diesel", tax = 160, mpg = 58.4, engineSize = 2.0

In [10]:
nuevo_registro = {'model': '3 Series',
                  'year': 2023,
                  'price': 22572,
                  'transmission': 'Automatic',
                  'mileage': 74120,
                  'fuelType': 'Diesel',
                  'tax': 160,
                  'mpg': 58.4,
                  'engineSize': 2.0}

dfaux = pd.DataFrame([nuevo_registro])

df = pd.concat([df, dfaux], ignore_index=True)

print(df.tail())

           model  year  price transmission  mileage fuelType  tax   mpg  \
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4
10782   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
10778         2.0
10779         2.0
10780         2.0
10781         2.0
10782         2.0

**Ejercicio 13:**
Convierta el DataFrame en un ndarray de numpy, e imprima el tipo de datos del ndarray obtenido.

In [86]:
import numpy as np

array_numpy = df.values

print("Tipo de datos del ndarray:", type(array_numpy))

Tipo de datos del ndarray: <class 'numpy.ndarray'>

**Ejercicio 14:**
Calcule para cada registro el número medio de millas recorridas cada año.

In [99]:
millas_por_año = df['mileage'] / (2024 - df['year'])

print(millas_por_año)

0        6706.800000
1        2471.166667
2        7849.250000
3        3810.857143
4        3955.400000
            ...
10776    5102.250000
10777    5368.375000
10778    3638.285714
10779    4500.000000
10780    8490.285714
Length: 10781, dtype: float64